@import url("../node_modules/dseg/css/dseg.css");
/* center of screen layout */
.led-clock {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  line-height: 1;
}

/* vertical layout and sizing */
.led-clock-line + .led-clock-line {
  margin-top: 1rem;
}

.led-clock-time-line {
  font-size: 18vw;
}

/* horizontal layout */
.led-clock-line {
  margin: 0 auto;
}

.led-clock-line-inner {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.led-clock-line .led-clock-window + .led-clock-window {
  margin-left: 1rem;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*****************************************************************************/
.led-clock-window {
  background-color: black;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 2rem;
  padding: 1rem;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'DSEG7-Modern';
  font-weight: normal;
  font-style: italic;
}

.led-clock-segment {
  display: inline-block;
  position: relative;
}

.led-clock-segment:not(.led-clock-segment-ampm) {
  position: relative;
}

.led-clock-segment:not(.led-clock-segment-ampm)::before {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  content: '88';
}

.led-clock-segment:not(.led-clock-segment-ampm)::before, .led-clock-segment:not(.led-clock-segment-ampm)::after {
  opacity: 0.0625;
}

.led-clock-segment:not(.led-clock-segment-ampm).led-clock-segment-hour::before {
  content: '28';
}

.led-clock-segment:not(.led-clock-segment-ampm).led-clock-segment-colon::before {
  content: ':';
}

.led-clock-segment:not(.led-clock-segment-ampm).led-clock-segment-second {
  font-size: 75%;
}

.led-clock-segment-ampm {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  background-color: rgba(0, 0, 255, 0.05);
  position: relative;
}

.led-clock.led-clock-12-hour .led-clock-segment-ampm {
  width: 0.75ch;
}

.led-clock.led-clock-24-hour .led-clock-segment-ampm {
  display: none;
}

.led-clock-segment-ampm::before {
  position: absolute;
  top: -4em;
  left: 0;
  font-size: 25%;
  line-height: 0.75;
  content: 'AM';
}

.led-clock-segment-ampm::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 25%;
  line-height: 0.75;
  content: 'PM';
}

.led-clock-segment-ampm::before, .led-clock-segment-ampm::after {
  opacity: 0.0625;
}

.led-clock-segment-ampm.am::before {
  opacity: 1;
}

.led-clock-segment-ampm.pm::after {
  opacity: 1;
}

body.led-clock-page {
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
}

.led-clock-window {
  font-family: 'DSEG7-Classic';
  font-weight: 400;
  font-style: italic;
}

.led-clock-line {
  color: yellow;
}

.css-reset {
  all: unset;
}

.bottom-left-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5em;
}

.bottom-right-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;
}

.bottom-left-buttons,
.bottom-right-buttons {
  color: rgba(255, 255, 255, 0.25);
}

.bottom-left-buttons a,
.bottom-right-buttons a {
  color: inherit;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.bottom-panel {
  position: fixed;
  bottom: 0.5rem;
  left: 1rem;
  right: 1rem;
  font-size: 1rem;
}

.bottom-panel::after {
  content: '';
  clear: both;
}

.bottom-panel-left {
  float: left;
}

.bottom-panel-right {
  float: right;
}

.bottom-panel-left,
.bottom-panel-right {
  color: rgba(255, 255, 255, 0.25);
}

.bottom-panel-left button,
.bottom-panel-right button {
  color: inherit;
  text-shadow: 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.5);
}

.bottom-panel label {
  display: inline-block;
}

.bottom-panel label + label {
  margin-left: 1em;
}

/**
 * Push Buttons and Switches
 */
.push-button {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid black;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  height: 1.4em;
  width: 2.8em;
  border-radius: 1em;
  position: relative;
  top: -0.1em;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#999));
  background-image: linear-gradient(to bottom, #eee, #999);
}

.push-button::after {
  content: '';
  position: absolute;
  border-radius: -webkit-calc(1em - 3px);
  border-radius: calc(1em - 3px);
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#fff));
  background-image: linear-gradient(to bottom, #999, #fff);
  content: '';
}

.toggle-switch {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.toggle-switch::before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[type="checkbox"].toggle-switch {
  width: 0;
  opacity: 0;
  display: none;
}

[type="checkbox"].toggle-switch + :not([type="checkbox"]).toggle-switch {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid black;
  height: 1.4em;
  width: 2.8em;
  background-color: black;
  border-radius: 1em;
  position: relative;
  top: -0.1em;
  overflow: hidden;
}

[type="checkbox"].toggle-switch + :not([type="checkbox"]).toggle-switch::before {
  background-color: #cc6600;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50%;
  width: 100%;
  height: 1.4em;
  border-radius: -webkit-calc(1em - 2px);
  border-radius: calc(1em - 2px);
  content: '';
  -webkit-transition: right 125ms;
  transition: right 125ms;
}

[type="checkbox"]:checked.toggle-switch + :not([type="checkbox"]).toggle-switch::before {
  right: 0;
}

[type="checkbox"].toggle-switch + :not([type="checkbox"]).toggle-switch > .inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50%;
  height: 1.4em;
  width: 1.4em;
  border-radius: -webkit-calc(1em - 2px);
  border-radius: calc(1em - 2px);
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#999));
  background-image: linear-gradient(to bottom, #eee, #999);
  content: '';
  -webkit-transition: right 125ms;
  transition: right 125ms;
}

[type="checkbox"].toggle-switch + :not([type="checkbox"]).toggle-switch > .inner::after {
  content: '';
  position: absolute;
  border-radius: -webkit-calc(1em - 2px - 1px);
  border-radius: calc(1em - 2px - 1px);
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#fff));
  background-image: linear-gradient(to bottom, #999, #fff);
}

[type="checkbox"]:checked.toggle-switch + :not([type="checkbox"]).toggle-switch > .inner {
  right: 0;
}

.bottom-panel a {
  color: inherit;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
