body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*****************************************************************************/

.led-clock {
    background-color: black;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.led-clock__line--date {
    padding-top: 4vw;
    font-size: 5vw;
    padding-right: 2vw;
    flex: 0 1 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.25em;
}
.led-clock__line--time {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 20vw;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}
.led-clock__line--blank {
    padding-bottom: 4vw;
    font-size: 5vw;
    padding-right: 2vw;
    flex: 0 1 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.led-clock__segment {
    display: inline-block;
    position: relative;
    font-family: 'DSEG7-Classic';
    font-weight: normal;
    font-style: italic;
    line-height: 1;
}
.led-clock__segment--weekday {
    font-family: 'DSEG14-Classic';
}
.led-clock__segment:not(.led-clock__segment--ampm) {
    position: relative;
    &::before {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        content: '88';
    }
    &::before, &::after {
        opacity: 0.0625;
    }
    &.led-clock__segment--hour {
        &::before {
            content: '88';
        }
    }
    @at-root .led-clock__12-hour &.led-clock__segment--hour {
        &::before {
            content: '18';
        }
    }
    &.led-clock__segment--colon {
        &::before {
            content: ':';
        }
    }
    &.led-clock__segment--second {
        font-size: 75%;
        align-self: flex-end;
    }
    &.led-clock__segment--weekday {
        font-size: 75%;
        align-self: flex-end;
    }
}

.led-clock__segment--ampm {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-style: normal;
    background-color: rgba(blue, 0.05);
    position: relative;
    .led-clock.led-clock__12-hour & {
        width: 0;
    }
    .led-clock.led-clock-24-hour & {
        display: none;
    }
    &::before {
        position: absolute;
        top: 0;
        bottom: auto;
        left: 0;
        font-size: 25%;
        line-height: 0.75;
        content: 'AM';
    }
    &::after {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        font-size: 25%;
        line-height: 0.75;
        content: 'PM';
    }
    &::before, &::after {
        opacity: 0.0625;
    }
    &.am {
        &::before { opacity: 1; }
    }
    &.pm {
        &::after { opacity: 1; }
    }
}
