html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*****************************************************************************/

.led-clock__window {
    background-color: black;
    display: inline-flex;
    border-radius: 2rem;
    padding: 1rem;
    align-items: flex-end;

    font-family: 'DSEG7-Modern';
    font-weight: normal;
    font-style: italic;
}

.led-clock__segment--weekday {
    font-family: 'DSEG14-Modern';
}

.led-clock__segment {
    display: inline-block;
    position: relative;
}

.led-clock__segment:not(.led-clock__segment--ampm) {
    // min-width: 2ch;
    position: relative;
    &::before {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        content: '88';
    }
    &::before, &::after {
        opacity: 0.0625;
    }
    &.led-clock__segment--hour {
        &::before {
            content: '88';
        }
    }
    @at-root .led-clock__12-hour &.led-clock__segment--hour {
        &::before {
            content: '18';
        }
    }
    &.led-clock__segment--colon {
        // min-width: none;
        &::before {
            content: ':';
        }
    }
    &.led-clock__segment--second {
        font-size: 75%;
    }
    &.led-clock__segment--weekday {
        font-size: 75%;
    }
}

.led-clock__segment--ampm {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-style: normal;
    background-color: rgba(blue, 0.05);
    position: relative;
    .led-clock.led-clock__12-hour & {
        width: 0;
    }
    .led-clock.led-clock-24-hour & {
        display: none;
    }
    &::before {
        position: absolute;
        top: -4em;
        left: 0;
        font-size: 25%;
        line-height: 0.75;
        content: 'AM';
    }
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 25%;
        line-height: 0.75;
        content: 'PM';
    }
    &::before, &::after {
        opacity: 0.0625;
    }
    &.am {
        &::before { opacity: 1; }
    }
    &.pm {
        &::after { opacity: 1; }
    }
}
