.bottom-buttons,
.bottom-panel {
    padding: 1rem;
    font-size: 1.25rem;
    @media (min-width: 576px) {
        font-size: 1.5rem;
    }
    @media (min-width: 768px) {
        font-size: 1.75rem;
    }
}
.bottom-buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.25;
    a {
        color: white;
        text-decoration: none;
    }
    text-align: right;
}
.bottom-panel {
    &:not(.visible) {
        display: none;
    }
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.font-inherit {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-stretch: inherit;
    color: inherit;
}
.no-v-margins {
    margin-top: 0;
    margin-bottom: 0;
}
.list-unstyled {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    > li {
        display: auto;
    }
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.flex-order-1 {
    order: 1;
}
.flex-order-2 {
    order: 2;
}
.flex-grow {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}
.flex-shrink {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap {
    flex-wrap: wrap;
}
.appearance-none {
    appearance: none;
    border: 0;
    padding: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-stretch: inherit;
    color: inherit;
    background: transparent;
}
.flex-jc-space-between {
    justify-content: space-between;
}
.flex-ai-end {
    align-items: flex-end;
}
.font-size-2 {
    font-size: 2rem;
}
.text-uppercase {
    text-transform: uppercase;
}
.start-gap {
    padding-left: 1rem;
}
.end-gap {
    padding-right: 1rem;
}
