@font-face {
    font-family: 'DSEG7-Modern';
    src: url('../node_modules/dseg/fonts/DSEG7-Modern/DSEG7Modern-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DSEG7-Modern';
    src: url('../node_modules/dseg/fonts/DSEG7-Modern/DSEG7Modern-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'DSEG7-Modern';
    src: url('../node_modules/dseg/fonts/DSEG7-Modern/DSEG7Modern-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DSEG7-Modern';
    src: url('../node_modules/dseg/fonts/DSEG7-Modern/DSEG7Modern-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DSEG7-Modern';
    src: url('../node_modules/dseg/fonts/DSEG7-Modern/DSEG7Modern-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'DSEG7-Modern';
    src: url('../node_modules/dseg/fonts/DSEG7-Modern/DSEG7Modern-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
