/* center of screen layout */
.led-clock {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* vertical layout and sizing */
.led-clock-line + .led-clock-line {
    margin-top: 5vw;
}
.led-clock-time-line {
    font-size: 20vw;
}
.led-clock-date-line {
    font-size: 10vw;
    padding-right: 2vw;
}

/* horizontal layout */
.led-clock-line {
}
.led-clock-line-inner {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}
.led-clock-line .led-clock-window + .led-clock-window {
    margin-left: 1rem;
}
