/* center of screen layout */
.led-clock {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/* vertical layout and sizing */
.led-clock__line + .led-clock__line {
}
.led-clock__line--date {
    font-size: 5vw;
    padding-right: 2vw;
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.led-clock__line--time {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 20vw;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.led-clock__line--blank {
    flex: 0 1 50%;
}

/* horizontal layout */
.led-clock__line {
}
.led-clock__line-inner {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}
.led-clock__line .led-clock__window + .led-clock__window {
    margin-left: 1rem;
}
