/* center of screen layout */
.led-clock {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    transform:         translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    line-height: 1;
}

/* vertical layout and sizing */
.led-clock-line + .led-clock-line {
    margin-top: 1rem;
}
.led-clock-time-line {
    font-size: 18vw;
}

/* horizontal layout */
.led-clock-line {
    margin: 0 auto;
}
.led-clock-line-inner {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}
.led-clock-line .led-clock-window + .led-clock-window {
    margin-left: 1rem;
}
