body.led-clock-page {
    min-height: 100vh;
    overflow: hidden;
    background-color: black;
}

.led-clock-window {
    font-family: 'DSEG7-Classic';
    font-weight: 400;
    font-style: italic;
}

.led-clock-segment:not(.led-clock-segment-ampm) {
    // transform: skew(2deg);
}

.led-clock-line {
    color: yellow;
}
